.container{
	width: 950px;
}

.colborderl { padding-left:24px; margin-left:25px; border-left: 1px solid #eee; }
.colborderr { padding-right:0; margin-right:0; }

body{
	font-size: .75em;
	text-rendering: optimizeLegibility;
}

a{
	color: #222;
	cursor: pointer;
}

a:hover, a:active{
	text-decoration: none;
}

textarea{
	width: 100%;
	height: 10em;
}

ul{
	padding-left: 0;
	list-style-type: square;
}

#tasks ul li{
	margin-bottom: .5em;
}

input[type=checkbox], input[type=radio], input.checkbox, input.radio { position:relative; top: 0; }
input[type=text], input.text { padding:.35em; width: 60%; }

input.xs{ width: 10%; }
input.s{ width: 30%; }
input.m{ width: 45%; }
input.l{ width: 75%; }
input.xl{ width: 100%; }

input.title{
	font-size: 1.2em;
	width: 100%;
}

input.full{
	width: 100%;
}

.large{
	line-height: 1.5em;
}

div#progress{
	margin-bottom: 1.5em;
	width: 99%;
}

h1, h2, h3, h4, h5, h6{
	color: #444;
	font-weight: bold;
	line-height: 1.5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{ text-decoration: none; }

h1{
	font-size: 1.7em;
}

h2{
	color: #222;
	font-size: 1.3em;
}

h2 a:hover, h2 a:active{
	color: #555;
}

h2 img{
	padding-right: .25em;
	position: relative;
	bottom: .1em;
	vertical-align: middle;
}

h3{
	color: #555;
	font-size: 1.15em;
	margin-bottom: .25em;
}

h4{
	color: #777;
	font-size: 1.05em;
	margin-bottom: .25em;
}

.error, .notice, .success { padding: 1em 15px; width: 916px; margin: 0; }
.center{ text-align: center; }
.right{ text-align: right; }
.none{ display: none; }
.preload{ visibility: hidden; position: absolute; top: -9999px; left: -9999px; }
.quiet a{ color: #666; }
.full {width:100%;}

.code{ font-family: "Anonymous Pro", "Courier New", Courier, serif; background-color: #eee; }

.page_no { color: #666; font-weight: bold; padding: .1em .4em; }
a.page_no { color: #333; font-weight: bold; border: 2px solid #ccc; padding: .1em .4em; margin: 0 .2em; text-decoration: none; }
a.page_no:hover, a.page_no:active { border: 2px solid #5eb0e5; background-color: #c0ddea; color: #00539f; }

ul{
	margin: .3em 2.1em 1.5em 1.75em;
	list-style-type: square;
}

img.frame{
	border: solid 3px #fff;
	margin: .2em .4em .2em 0;
	-moz-box-shadow: 0 0 3px #ddd;
	-webkit-box-shadow: 0 0 3px #ddd;
}

table.census td{
	padding: 0 0 0 .5em;
}

table.census td.right{
	width: 2.5em;
}

table.census a{
	text-decoration: none;
}

#header_holder{
	padding: 2em 0 0 0;
	background: #ccc url(/images/header_bg.png) bottom left repeat-x;
}

#panels{
	position: relative;
	bottom: -2em;
	color: #444;
	text-align: right;
}

#panels .small{
	font-size: .9em;
	color: #666;
}

#panels a{
	color: #666;
}

#panels img{
	position: relative;
	top: -2px;
	padding: 0 3px;
	vertical-align: middle;
}

#panels strong a{
	text-decoration: none;
}

#user_panel{
	background: transparent url(/images/hr_vertical.png) repeat-y 210px 0;
}

#footer{
	color: #777;
	padding-bottom: 3em;
}

#footer a{
	color: #777;
}

#navigation ul{
	position: relative;
	display: block;
	margin: 2em 0 .4em 0;
	padding: 0;
	font-size: 1.2em;
	font-weight: 500;
}

#navigation ul li{
	margin: 0;
	display: inline;
}

#sub_navigation{
	position: relative; z-index: 20;
	background-color: #fff;
	padding-top: 1em;
}

#sub_navigation ul{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

#sub_navigation ul li{
	margin: 0 2em 0 0;
	display: inline;
}

#sub_navigation ul li a{
	text-decoration: none;
}

#sub_navigation img{
	position: relative;
	top: -2px;
	margin-right: 3px;
	vertical-align: middle;
}

#content{
	position: relative; z-index: 20;
	background-color: #fff;
	padding-top: 2em;
}

#navigation ul li a{
	margin: 0;
	padding: .5em 1em .6em 1em;
	background-color: transparent;
	border-radius:  4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	color: #777;
	text-decoration: none;
}

#navigation ul li a.selected{
	position: relative; z-index: 10;
	box-shadow: #bbb 0 0 3px;
	-webkit-box-shadow: #bbb 0 0 3px;
	-moz-box-shadow: #bbb 0 0 3px;
	background-color: #fff;
	color: #222;
}

#navigation ul li a:hover, #navigation ul li a:active{
	background-color: #aaa;
	color: #555;
}

#navigation ul li a.selected:hover, #navigation ul li a.selected:active{
	background-color: #fff;
	color: #222;
}

#notification ul{
	margin: 0 0 1em 0;
	padding: 0;
	list-style-type: none;
}

#notification li{
	margin: 0 1em 0 0;
	padding: 0;
}

td.right{
	width: 30%;
}

#overview td.right{
	color: #555;
	font-weight: bold;
}

td.middle{
	vertical-align: middle;
}

td.pad{
	padding-top: .8em;
}

.statistics_holder{
	position: relative;
	width: 100%;
	height: 300px;
	margin: 1em 0 3em 0;
	z-index: 1;
}


a.wrapper{
	padding: .6em;
	background-color: #CFE1FF;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

a.x{
	padding: 0 .3em .2em .3em;
	border-radius: 3px;
	-moz-border-radius: 3px;
	color: #ccc;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a.tag{
	text-decoration: none;
}

a.x:hover, a.x:active{
	background-color: #ccc;
	color: #fff;
}

.statistics_holder .legend td.legendColorBox{
	width: 8px;
}

.statistics_holder .legend table{
	margin: .8em 1em;
	width: 15em;
}

#d_holder .xAxis.x1Axis .tickLabel {
	margin-left: 4px;
}

.statistics_holder .legend table .legendLabel{
	color: #777;
	font-size: 1.2em;
}

.statistics_holder .legend table tbody td{
	text-shadow: 0 0 3px #fff;
	padding-bottom: 0;
	margin-bottom: 0;
}

.statistics_holder .point{
	color: #777;
	font-size: .9em;
	text-align: center;
	text-shadow: 0 0 3px #fff;
	width: 25px;
}

table th{
	border: solid #ccc;
	border-width: 0 0 1px 0;
	font-weight: bold;
	color: #777;
}

a.nu{
	text-decoration: none;
}

#recent img{
	margin-right: 10px;
}

#tags_find{
	float: right;
	font-size: .9em;
}

#configuration table, #preferences table{
	width: 0;
}

td{
	vertical-align: top;
}

img.ui-datepicker-trigger{
	padding: 0 .5em;
}

#search td.right{
	padding-top: 10px;
}

#configuration label, #preferences label{
	font-weight: bold;
}

#configuration td.input input, #preferences td.input input{
	position: relative;
	top: -1px;
}

#footer, #footer a{
	color: #777;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 100px;
}

li.ui-menu-item{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: .8em;
}

.actions{
	float: right;
}

.actions form{
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.actions input{
	margin: .3em;
}

.actions select{
	margin: .3em;
}

.actions a, a.button{
	margin-left:.5em;
	padding: .4em .6em;
	background-color: #eee;
	color: #666;
	font-size: .9em;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.actions a:hover, .actions a:active, a.button:hover, a.button:active{
	background-color: #ccc;
	color: #444;
}

img.frame_selected{
	border: solid 3px #fbde42;
	margin: .2em .4em .2em 0;
	-moz-box-shadow: 0 0 3px #ddd;
	-webkit-box-shadow: 0 0 3px #ddd;
}