.container{
	width: 670px;
}

body{
	background-color: #eee;
	font-family: Verdana, sans-serif;
	font-size: .7em;
	margin: 4em auto;
}

h1, h2, h3, h4, h5, h6 { color: #888; }

table td{
	vertical-align: top;
}

#slideshow{
}

ul#slides{
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none inside;
	height: 670px;
	width: 670px;
	vertical-align: middle;
}

ul#slides li{
	position: relative;
	display: none;
	margin: 0;
	padding: 0;
}

ul#slides li.selected{
	display: block;
}

#controls{
	position: absolute;
	font-weight: bold;
	z-index: 10;
}

#controls a:link, #controls a:visited, #controls a:hover, #controls a:active {
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 5px #000;
	text-transform: uppercase;
}

a#next{
	display: block;
	position: absolute;
	margin: 0;
	width: 160px;
	left: 440px;
	text-align: right;
}

a#prev{
	display: block;
	position: absolute;
	margin: 0;
	width: 160px;
}

.photo, .photo_comments{
	display: block;
	margin: 1em 0;
}

.frame{
	border: 15px #fff solid;
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	margin: 0;
}

.frame_small{
	border: 2px #fff solid;
	margin: 0;
}

.title{
	text-shadow: 1px 1px 2px #fff;
	font-family: "Vollkorn", Georgia, serif;
	font-style: italic;
	font-size: 2.4em;
	font-weight: 500;
	color: #444;
	line-height: 1.4em;
	padding-bottom: .75em;
	text-align: left;
}

p.description{
	color: #555;
	font-family: "Vollkorn", Georgia, serif;
	font-size: 1.3em;
}

.float_right{
	margin: 0 0 1.5em 0;
	float: right;
	text-align: right;
}

.tag{
	padding: 3px 6px 4px 6px;
	margin-right: 10px;
	background-color: #ddd;
	color: #666;
	border-radius: 4px;
}

.uploaded{
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
}

.right{
	color: #aaa;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
}

#copyright{
	margin-top: 2em;
	text-align: center;
}

#gallery{
	display: block;
	position: relative;
	text-align: center;
}

.center{
	text-align: center;
}

.copyright, .copyright a{
	color: #777;
}

.preload{ display: hidden; position: absolute; top: -9999px; left: -9999px; }

ul#slideshow{
	list-style-type: none;
}