.container{
	width: 670px;
}

.none{
	display: none;
}

body{
	background-color: #eee;
	font-family: "Arvo", Verdana, sans-serif;
	font-size: .7em;
	margin: 4em auto;
}

h1, h2, h3, h4, h5, h6 { color: #222; }

table td{
	vertical-align: top;
}

h2{
	text-shadow: 1px 1px 2px #fff;
	font-family: "Arvo", Georgia, serif;
	font-size: 2.4em;
	font-weight: 500;
	color: #444;
	text-align: left;
}

#header{
	margin: 3em 0;
	font-size: 1.5em;
	text-align: center;
}

#header a{
	color: inherit;
	text-decoration: inherit;
}

#navigation{
	text-align: center;
}

#navigation input[type="search"]{
	width: 20em;
}

#footer{
	text-align: center;
}

.photo{
	padding: 3em 0;
}

.colorkey{
	margin-bottom: 1.5em;
}

a#next{
	display: block;
	position: absolute;
	margin: 0;
	width: 160px;
	left: 440px;
	text-align: right;
}

a#prev{
	display: block;
	position: absolute;
	margin: 0;
	width: 160px;
}

.photo, .photo_comments{
	display: block;
	margin: 1em 0;
}

.frame{
	border: 15px #fff solid;
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	margin: 0;
}

.frame_small{
	border: 2px #fff solid;
	margin: 0;
}

p.description{
	color: #555;
	font-family: "Arvo", Georgia, serif;
	font-size: 1.3em;
}

.float_right{
	margin: 0 0 1.5em 0;
	float: right;
	text-align: right;
}

.tag{
	padding: 3px 6px 4px 6px;
	margin-right: 10px;
	background-color: #ddd;
	color: #666;
	border-radius: 4px;
}

.uploaded{
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
}

.right{ text-align: right }

.page { font-size: 1.2em; line-height: 1.6em; }

.right_set{
	color: #aaa;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
}

#copyright{
	margin-top: 2em;
	text-align: center;
}

#gallery{
	display: block;
	position: relative;
	text-align: center;
}

.center{
	text-align: center;
}

.copyright, .copyright a{
	color: #777;
}

table.comments td.right{
	text-align: right;
	font-weight: bold;
	padding-top: 1em;
}

input[type=text]{
	padding: .25em;
	font-size: 1.1em;
	width: 15em;
}

input.comment_author_uri{
	width: 25em;
}

textarea.comment_text{
	width: 40em;
	height: 10em;
}


/*
 * Alkaline
 * Required for normal operation
 */

.preload{ display: hidden; position: absolute; top: -9999px; left: -9999px; }

ul#slideshow{
	list-style-type: none;
}