body{
	font-size: .75em;
	text-rendering: optimizeLegibility;
	width: 1040px;
}

#primary img{
	margin: 0 2em 0 2.5em;
}

a{
	color: #222;
}

a:hover, a:active{
	color: #222;
	text-decoration: none;
}

textarea{
	width: 100%;
	height: 10em;
}

input.title{
	font-size: 1.2em;
}

p, table{
	margin: .3em 2.1em 1.5em 1.75em;
}

h1, h2, h3, h4, h5, h6{
	margin: .3em 2.1em .3em 1.75em;
	color: #444;
	font-weight: bold;
	line-height: 1.5em;
	text-transform: uppercase;
}

h1{
	margin: .1em 1.333em .5em 1.2em;
	font-size: 1.5em;
}

h2{
	color: #000;
	font-size: 1.1em;
}

h2{
	font-size: 1em;
}


#secondary ul{
	padding-left: 1.22em;
	list-style-type: none;
}

#secondary li:before {
	content: "\25B8";
	padding: .5em;
	color: #777;
}

#tertiary ul{
	margin: .3em 2.1em 1.5em 1.75em;
	list-style-type: block;
}

.column{
	position: absolute;
	display: block;
	height: 100%;
	z-index: -100;
}

img.bumper{
	padding-top: 5em;
}

#primary{
	background: #222 url(/images/bgs/222g.png) top right repeat-y;
	color: #fff;
	text-align: right;
	width: 160px;
}

#primary a{
	color: #fff;
	text-decoration: none;
}

#secondary{
	left: 160px;
	float: left;
	background: #ccc url(/images/bgs/cccg.png) top right repeat-y;
	color: #000;
	width: 230px;
}

#tertiary{
	left: 400px;
	width: 610px;
}

#secondary img.frame{
	border: solid 3px #fff;
	margin: .2em .4em .2em 0;
	-webkit-box-shadow: 0 0 3px #aaa;
}

#tertiary img.frame{
	border: solid 3px #fff;
	margin: .2em .4em .2em 0;
	-webkit-box-shadow: 0 0 3px #ddd;
}

table#vitals{
	width: 0;
}

table#vitals td{
	padding: 0 0 0 .5em;
}

table#vitals a{
	text-decoration: none;
}

img.icon_block{
	position: absolute;
	right: 0;
	margin-top: -.7em;
	z-index: -50;
}

#copyright{
	color: #777;
	margin-bottom: 5em;
}
#copyright a{
	color: #777;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.hide{
	display: none;
}

#header img{
	margin-bottom: 1em;
}

ul#navigation{
	float: right;
	margin: 0 2em;
	font-size: 1.1em;
	font-weight: 500;
	line-height: 1.7em;
	text-transform: uppercase;
}

ul#navigation li{
	display: block;
	position: relative;
}

ul#navigation img{
	position: absolute;
	top: .48em;
	left: 4.3em;
	z-index: 100;
}

ul#navigation li.logout{
	margin-top: 2em;
}

ul#navigation li.logout img{
	position: absolute;
	top: .68em;
	left: 4.3em;
	z-index: 100;
}

ul#navigation li.logout a{
	color: #999;
}

ul#navigation li.logout a:hover, ul#navigation li.logout a:active{
	color: #f02415;
}

#notification ul{
	margin: 0 0 1em 0;
	padding: 0;
	list-style-type: none;
}

#notification li{
	margin: 0 1em 0 0;
	padding: 0;
}

#notification li.success{
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
}

#module{
	border: 1px #DFDFDF solid;
	border-width: 3px 0 0 0;
	margin-bottom: 1em;
	padding: .1em 1em .1em 1em;
	background-color: #eee;
}

td.right{
	width: 20%;
}

#statistics_holder{
	position: relative;
	width: 100%;
	height: 300px;
	margin: 1em 2em 3em 2em;
	z-index: 1;
}

#h_holder, #d_holder, #m_holder{
	position: relative;
	width: 100%;
	height: 200px;
	left: -.5em;
	margin: 1em 0 2em 0;
	z-index: 1;
}

.quiet a{
	color: #666;
}

a.wrapper{
	padding: .6em;
	background-color: #CFE1FF;
	border-radius: 3px;
}

.statistics_holder .legend td.legendColorBox{
	width: 8px;
}

.statistics_holder .legend table{
	margin: .8em 1em;
	width: 15em;
}

.statistics_holder .xAxis.x1Axis .tickLabel{
	margin-left: 4px;
}

#m_holder .xAxis.x1Axis .tickLabel{
	margin-left: 0;
}

#h_holder .xAxis.x1Axis .tickLabel{
	margin-left: -12px;
}

.statistics_holder .legend table .legendLabel{
	color: #777;
	font-size: 1.2em;
}

.statistics_holder .legend table tbody td{
	background-color: rgba(255, 255, 255, .5);
	padding-bottom: 0;
	margin-bottom: 0;
}

.statistics_holder .point{
	color: #777;
	font-size: .9em;
	text-align: center;
	text-shadow: 0 0 3px #fff;
	width: 25px;
}

ul.yellow, #statistics ul.yellow{
	background: #FFF367 url(/images/yellow_bg.png) no-repeat top right;
}

ul.yellow a, #statistics ul.yellow a{
	text-decoration: underline;
}

ul.yellow a:hover, #statistics ul.yellow a:hover, ul.yellow a:active, #statistics ul.yellow a:active{
	text-decoration: none;
}

table th{
	font-weight: normal;
	color: #777;
}

a.nu{
	text-decoration: none;
}

#recent img{
	margin-right: 10px;
}

#tags_find{
	float: right;
	font-size: .9em;
}

#configuration table, #preferences table{
	width: 0;
}

td{
	vertical-align: top;
}

img.ui-datepicker-trigger{
	padding: 0 .5em;
}

#features h1, #features h2, #features h3, #features h4, #features h5, #features h6{
	margin-top: 0;
}

#features{
	margin-bottom: 2em;
}

#features ul{
	padding: 0 0 0 5.5em;
}

#features img{
	float: left;
	margin: 3px 10px 0 0;
}

#search td.right{
	padding-top: 10px;
}

#configuration label, #preferences label{
	font-weight: bold;
}

#configuration td.input input, #preferences td.input input{
	position: relative;
	top: -1px;
}

#footer, #footer a{
	color: #777;
}