body{
	margin: 3em auto;
	background: #fff url(/images/bg.png) repeat-x;
	color: #000;
	font-family: Verdana, sans-serif;
	font-size: .67em;
}

input, textarea, select{
	font-size: 1em;
	margin: 3px;
	padding: 2px 3px;
}

hr{
	margin: .5em 0;
}

table{
}

label{
	font-weight: inherit;
}

img{
	padding: .5em 0;
}

a{
	color: #00539f;
}

a:hover, a:active{
	color: #00539f;
	text-decoration: none;
}

textarea{
	width: 100%;
	height: 10em;
}

input.title{
	font-size: 1.2em;
}

span.button{
	padding: .1em .3em .3em .3em;
	margin-right: .5em;
	border-radius: 3px;
	background: #003a69 url(/images/button_bg.png) repeat-x;
	color: #fff;
	font-weight: bold;
}

a span.button{
	text-decoration: none;
}

#header hr, #footer hr{
	position: relative;
	width: 104%;
	left: -2%;
	height: 3px;
	margin: 0 0 1em 0;
	background-color: transparent;
	color: transparent;
	background-image: url(/images/hr_bg.png);
	background-repeat: repeat-x;
}

p{
	margin: 0 0 1em 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 2em 0 .5em 0;
	color: #000;
	font-family: Tahoma, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h1{
	margin-top: 1em;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.5em;
}

h2{
	font-size: 1.1em;
	color: #444;
	font-weight: bold;
	line-height: 1.5em;
}

h3{
	font-size: 1.2em;
	color: #555;
	line-height: 1.2em;
}

ul{
	padding-left: 2em;
	list-style-type: square;
}

.container{
	width: 910px;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

#header img{
	margin-bottom: 1em;
}

#navigation{
	float: right;
	margin: 28px 0;
	font-family: Tahoma, sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#navigation a{
	padding: .4em .5em;
	color: #666;
	text-decoration: none;
}

#navigation a:hover, #navigation a:active, #navigation a.selected{
	color: #222;
}

#navigation ul{
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navigation li{
	display: inline;
	position: relative;
	margin: 0 0 0 .5em;
	padding: 0;
}

#notification ul{
	margin: 0 0 1em 0;
	padding: 0;
	list-style-type: none;
}

#notification li{
	margin: 0 1em 0 0;
	padding: 0;
}

#notification li.success{
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
}

#module{
	border: 1px #DFDFDF solid;
	border-width: 3px 0 0 0;
	margin-bottom: 1em;
	padding: .1em 1em .1em 1em;
	background-color: #eee;
}

#statistics ul{
	margin: 0 0 1em 0;
	padding: .8em 1em;
	list-style-type: none;
}

#statistics ul a{
	color: #000;
	text-decoration: none;
}

#statistics_holder{
	position: relative;
	width: 100%;
	height: 300px;
	left: -.5em;
	margin: 1em 0 2em 0;
	z-index: 1;
}

#statistics_holder .legend td.legendColorBox{
	width: 10px;
}

#statistics_holder .legend table{
	width: 15em;
}

#statistics_holder .xAxis.x1Axis div.tickLabel{
	margin-left: 4px;
}

#statistics_holder .legend table .legendLabel{
	color: #777;
	font-size: 1.2em;
}

#statistics_holder .legend table tbody td{
	padding-bottom: 0;
	margin-bottom: 0;
}

#statistics_holder .point{
	color: #777;
	font-size: .9em;
	text-align: center;
	width: 25px;
}

ul.yellow, #statistics ul.yellow{
	background: #FFF367 url(/images/yellow_bg.png) no-repeat top right;
}

ul.yellow a, #statistics ul.yellow a{
	text-decoration: underline;
}

ul.yellow a:hover, #statistics ul.yellow a:hover, ul.yellow a:active, #statistics ul.yellow a:active{
	text-decoration: none;
}

table th{
	font-weight: normal;
	color: #777;
}

a.nu{
	text-decoration: none;
}

#recent img{
	margin-right: 10px;
}

#tags_find{
	float: right;
	font-size: .9em;
}

#configuration table, #preferences table{
	width: 0;
}

td{
	vertical-align: top;
}

img.ui-datepicker-trigger{
	padding: 0 .5em;
}

#features h1, #features h2, #features h3, #features h4, #features h5, #features h6{
	margin-top: 0;
}

#features{
	margin-bottom: 2em;
}

#features ul{
	padding: 0 0 0 5.5em;
}

#features img{
	float: left;
	margin: 3px 10px 0 0;
}

#search td.right{
	padding-top: 10px;
}

#configuration label, #preferences label{
	font-weight: bold;
}

#configuration td.input input, #preferences td.input input{
	position: relative;
	top: -1px;
}

#footer, #footer a{
	color: #777;
}