.container{
	width: 910px;
	text-align: left;
}

body{
	margin: 5em 0;
	background-color: #0c2f47;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Lucida, Verdana, sans-serif;
}

.link, .blue{
	color: #005abb;
}

a{
	color: #005abb;
	text-decoration: underline;
}

a:hover, a:visited{
	color: #005abb;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	margin-bottom: .5em;
}

h4{
	font-size: 1.3em;
}

hr{
	color: #103a54;
	background-color: #103a54;
}

#header{
	margin-bottom: 2em;
}

#header_navigation{
	padding-top: .9em;
	text-align: right;
}

#header_navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#header_navigation li{
	display: inline;
	padding-left: 1.4em;
}

#header_navigation li img{
	vertical-align: middle;
}

#header_navigation a{
	color: #fff;
	text-decoration: none;
}

#header_navigation a:hover, #header_navigation a:active{
	color: #5bb4e5;
}

#content{
	border: solid #fff;
	border-width: 6px 0 0 0;
	border-radius: 0 0 4px 4px;
	background: #fff url(/images/content_bg.png) top center no-repeat;
}

.trim{
	position: relative;
	width: 100%;
	background: url(/images/papertrim.png) bottom left repeat-x;
}

.trim_pad{
	padding: 1em 1.5em 1.5em 1.5em;
	color: #fff;
}

.trim_pad #brdmenu.inbox{
	display: block;
}

.trim_pad #brdmenu ul{
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.trim_pad #brdmenu li{
	margin-right: 1.5em;
	display: inline;
}

.trim_pad #brdwelcome{
	margin: 0;
	padding: 0;
}

.trim_pad a{
	color: #e9dbcf;
	font-weight: bold;
	text-decoration: none;
}

.trim_pad a:hover, .trim_pad a:active{
	color: #fff;
}

.buffer{
	padding: 1.5em 2em 0 2em;
}

.full_buffer{
	padding: 1.5em 2em 1.5em 2em;
}

#welcome{
	position: relative;
	background: url(/images/welcome.jpg) top left no-repeat;
	color: #fff;
	height: 296px;
	overflow: hidden;
}

#welcome_text{
	position: absolute;
	top: 125px;
	left: 49px;
	font-size: 1.1em;
	line-height: 1.5em;
	text-shadow: 1px 1px 1px #00539f;
	width: 420px;
}

#welcome_navigation{
	position: absolute;
	bottom: 22px;
	left: 49px;
	font-size: .9em;
}

#welcome_navigation img{
	vertical-align: middle;
	margin-right: 5px;
}

#welcome_navigation a{
	padding-right: 3em;
	color: #fff;
	text-decoration: none;
}

#intro{
	margin-top: 2em;
	border-radius: 4px;
	background: #fff url(/images/3columns.png) top center repeat-y;
}

#intro a{
	display: block;
	color: inherit;
	text-decoration: none;
}

#intro a:hover .link, #intro a:active .link{
	text-decoration: underline;
}

.column1{
	padding: 2em 30px .5em 25px;
}
.column2{
	padding: 2em 5px .5em 10px;
}
.column3{
	padding: 2em 25px .5em 30px;
}

#sitemap{
	margin-top: 4em;
	margin-bottom: 1.5em;
	color: #88abc3;
	font-size: .9em;
}

#sitemap ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#sitemap ul>ul{
	float: left;
	margin: 0 30px 0 0;
	width: 110px;
}

#sitemap ul>ul:last-child{
	margin: 0;
}

#sitemap li:first-child{
	font-weight: bold;
	margin-bottom: 5px;
}

#sitemap a{
	color: #5b98bc;
	text-decoration: none;
}

#sitemap a:hover, #sitemap a:active{
	color: #8dc9e8;
}

#footer{
	color: #5b98bc;
	font-size: .9em;
}

#footer a{
	color: #5b98bc;
	text-decoration: none;
}

.box{
	background: transparent;
}