<IfModule mod_rewrite.c>
	
	Options +FollowSymLinks
	
	RewriteEngine on
	
	RewriteRule ^admin/search/([a-z0-9-_]+)(/)?$ admin/search.php?act=$1 [NC]
	RewriteRule ^admin/search/([a-z0-9-_]+)/([0-9]+)(/)?$ admin/search.php?act=$1&id=$2 [NC]
	RewriteRule ^admin/([a-z0-9-_]+)(/)?$ admin/$1.php [NC]
	RewriteRule ^admin/([a-z0-9-_]+)/([0-9]+)(/)?$ admin/$1.php?id=$2 [NC,QSA]
	RewriteRule ^admin/([a-z0-9-_]+)/([a-z0-9-_]+)(/)?$ admin/$1.php?act=$2 [NC,QSA]
	
	RewriteRule ^page([0-9]+)(/)?$ index.php?page=$1 [NC]
	
	RewriteRule ^slideshow(/)?$ slideshow.php [NC]
	RewriteRule ^photo/([a-z0-9-_]+)(/)?$ photo.php?id=$1 [NC]
	
</IfModule> 