#
# Alkaline
# Copyright (c) 2010-2011 by Budin Ltd. All rights reserved.
# Do not redistribute this code without written permission from Budin Ltd.
# http://www.alkalineapp.com/
#

<IfModule mod_rewrite.c>
	
	Options +FollowSymLinks
	
	RewriteEngine on
	RewriteBase /
	
	RewriteRule ^admin/search/page([0-9]+)(/)?$											admin/search.php?page=$1 [NC]
	RewriteRule ^admin/search/([a-z0-9-_]+)(/)?$										admin/search.php?act=$1 [NC]
	RewriteRule ^admin/search/([a-z0-9-_]+)/page([0-9]+)(/)?$							admin/search.php?act=$1&page=$2 [NC]
	RewriteRule ^admin/search/([a-z0-9-_]+)/([0-9]+)(/)?$								admin/search.php?act=$1&id=$2 [NC]
	RewriteRule ^admin/search/([a-z0-9-_]+)/([0-9]+)/page([0-9]+)(/)?$					admin/search.php?act=$1&id=$2&page=$3 [NC]
	RewriteRule ^admin/([a-z0-9-_]+)(/)?$												admin/$1.php [NC]
	RewriteRule ^admin/([a-z0-9-_]+)/([0-9]+)(/)?$										admin/$1.php?id=$2 [NC,QSA]
	RewriteRule ^admin/([a-z0-9-_]+)/page([0-9]+)(/)?$									admin/$1.php?page=$2 [NC,QSA]
	RewriteRule ^admin/([a-z0-9-_]+)/([a-z0-9-_]+)(/)?$									admin/$1.php?act=$2 [NC,QSA]
	                                                                    				
	RewriteRule ^access(/)?([a-z0-9-_]*)(/)?$											access.php?id=$2 [NC]
	RewriteRule ^atom(/)?$																atom.php [NC]
	RewriteRule ^page([0-9]+)(/)?$														index.php?page=$1 [NC]
	RewriteRule ^image/([a-z0-9-_]+)(/)?$												image.php?id=$1 [NC]
	RewriteRule ^page/([a-z0-9-_]+)(/)?$												page.php?id=$1 [NC]
	RewriteRule ^post/([a-z0-9-_]+)(/)?$												post.php?id=$1 [NC]
	RewriteRule ^set/([a-z0-9-_]+)(/)?(page)?([0-9]*)(/)?$								set.php?id=$1&page=$4 [NC]
	RewriteRule ^tag/([a-z0-9-_]+)(/)?(page)?([0-9]*)(/)?$								tag.php?id=$1&page=$4 [NC]
	RewriteRule ^slideshow(/)?$															slideshow.php [NC]
	RewriteRule ^search(/)?$															search.php [NC]
	RewriteRule ^results(/)?$															results.php [NC]
	RewriteRule ^results/page([0-9]+)(/)?$												results.php?page=$1 [NC]
	RewriteRule ^blog(/)?(page)?([0-9]*)(/)?$											blog.php?page=$3 [NC]
	RewriteRule ^([0-9]{4,4})(/)?([0-9]{1,2})(/)?([0-9]{1,2})(/)?(page)?([0-9]*)(/)?$	archive.php?y=$1&m=$3&d=$5&page=$8 [NC]
	RewriteRule ^([0-9]{4,4})(/)?([0-9]{1,2})(/)?(page)?([0-9]*)(/)?$					archive.php?y=$1&m=$3&page=$6 [NC]
	RewriteRule ^([0-9]{4,4})(/)?(page)?([0-9]*)(/)?$									archive.php?y=$1&page=$4 [NC]
	RewriteRule ^with/([a-z0-9-_]+)(/)?$												index.php?with=$1 [NC]
	
</IfModule>