<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<add value="index.php"/>
			</files>
		</defaultDocument>
		<rewrite>
			<rules>
				<rule name="Dashboard Search (Act only)" stopProcessing="true" patternSyntax="ECMAScript">
					<match url="^admin/search/([a-z0-9-_]+)(/)?$" ignoreCase="true"/>
					<action type="Rewrite" url="admin/search.php?act={R:1}" appendQueryString="false"/>
				</rule>
				<rule name="Dashboard Search (Act and ID)" stopProcessing="true" patternSyntax="ECMAScript">
					<match url="^admin/search/([a-z0-9-_]+)/([0-9]+)(/)?$" ignoreCase="true"/>
					<action type="Rewrite" url="admin/search.php?act={R:1}&amp;id={R:2}" appendQueryString="false"/>
				</rule>
				<rule name="Dashboard Modules" stopProcessing="true" patternSyntax="ECMAScript">
					<match url="^admin/([a-z0-9-_]+)(/)?$" ignoreCase="true"/>
					<action type="Rewrite" url="admin/{R:1}.php" appendQueryString="false"/>
				</rule>
				<rule name="Dashboard Modules (ID only)" stopProcessing="true" patternSyntax="ECMAScript">
					<match url="^admin/([a-z0-9-_]+)/([0-9]+)(/)?$" ignoreCase="true"/>
					<action type="Rewrite" url="admin/{R:1}.php?id={R:2}" appendQueryString="true"/>
				</rule>
				<rule name="Dashboard Modules (Act only)" stopProcessing="true" patternSyntax="ECMAScript">
					<match url="^admin/([a-z0-9-_]+)/([a-z0-9-_]+)(/)?$" ignoreCase="true"/>
					<action type="Rewrite" url="admin/{R:1}.php?act={R:2}" appendQueryString="true"/>
				</rule>
				<rule name="Pages" stopProcessing="true" patternSyntax="ECMAScript">
					<match url="^page([0-9]+)(/)?$" ignoreCase="true"/>
					<action type="Rewrite" url="index.php?page={R:1}" appendQueryString="true"/>
				</rule>
				<rule name="Slideshow" stopProcessing="true" patternSyntax="ECMAScript">
					<match url="^slideshow(/)?$" ignoreCase="true"/>
					<action type="Rewrite" url="slideshow.php" appendQueryString="true"/>
				</rule>
				<rule name="Photo" stopProcessing="true" patternSyntax="ECMAScript">
					<match url="photo/([a-z0-9-_]+)(/)?$" ignoreCase="true"/>
					<action type="Rewrite" url="photo.php?id={R:1}" appendQueryString="true"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>