<IfModule mod_rewrite.c>
	
	Options +FollowSymLinks
	
	RewriteEngine on
	
	RewriteRule ^admin/search/([a-z0-9\-]+)(/)?$ /admin/search.php?smart=$1 [NC]
	RewriteRule ^admin/search/([a-z0-9\-]+)/([0-9]+)(/)?$ /admin/search.php?smart=$1&id=$2 [NC]
	RewriteRule ^admin/([a-z0-9\-]+)(/)?$ /admin/$1.php [NC]
	RewriteRule ^admin/([a-z0-9\-]+)/([0-9]+)(/)?$ /admin/$1.php?id=$2 [NC,QSA]
	RewriteRule ^admin/([a-z0-9\-]+)/([a-z0-9\-]+)(/)?$ /admin/$1_$2.php [NC,QSA]
	
	RewriteRule ^photo/([a-z0-9\-]+)(/)?$ /photo.php?identifier=$1 [NC]
	
</IfModule>