<IfModule mod_rewrite.c>
	
	Options +FollowSymLinks
	
	RewriteEngine on
	RewriteBase /

	RewriteCond %{REMOTE_ADDR} !108\.14\.192\.240
	RewriteRule ^$ /static.php [L]
	
	RewriteRule ^overview(/)?$ /overview.php [NC]
	RewriteRule ^buy(/)?$ /buy.php [NC]
	
</IfModule>